$black: #1a1a1a;
$gray: #757575;
$paleBlue: #97b8e3;
$paleGreen: #b6bfa8;
$paleRed: #BF7D77;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  text-align: center;
}